
#container {
    left: 200px;
    height: 900px;
    width: 800px;
    position: fixed;
    border-width: 5px;
    border-color: black;
}

#console {
  /* float: right */
  position: absolute;
  left: -9999px;
  border-color: black;
  border-width: 2px;
  width: 300px;
  height: 940px;
}

